= render 'shipping_is_billing'
= render 'dynamic_state_selects'

%h2 You are ordering:
%table#order_line_items
	%tbody
		- for item in @order.line_items
			%tr
				%td.quantity= item.quantity.to_s + "x"
				%td.description
					=item.name
					- unless item.options.blank?
						%br
						="(#{ item.options })"
				%td.price= ( item.price * item.quantity ).format

%p.tax_info Shipping and tax (if any) will be added during the secure payment process.

= form_for @order, :url => checkout_path do |f|
	#addresses
		#shipping_address
			%h2 Ship To:
			
			%table
				%p= "Please enter a valid E-Mail." if @order.errors[:email].any?
				= render 'shared/form_errors', :object => @shipping_address
				
				%tr#patron_info
					%td.label
						%strong
							= f.label 		:email, 'Your Contact E-Mail'
					%td.email= f.text_field :email
					
				%tr
					%td{ :colspan => 2 }
						= check_box_tag 'order[subscribed]', 1, true
						= f.label 	  :subscribed, "Send me news and special offers from #{ ArtisanEngine::Commerce.store_name }."
				
				= fields_for :shipping_address, @shipping_address do |a|
					= render 'address_fields', :a => a, :type => 'shipping'
			
					%tr
						%td{ :colspan => 2 }
							=check_box_tag :shipping_is_billing, '1', !@billing_errors
							=label_tag 	 :shipping_is_billing, 'My billing address is the same as my shipping address.'
		
		#billing_address
			%h2 Bill To:
			%table
				= render 'shared/form_errors', :object => @billing_address
		
				= fields_for :billing_address, @billing_address do |a|
					= render 'address_fields', :a => a, :type => 'billing'
	
			#billing_address_placeholder{ :style => "display: none;" }
				%p Order will be billed to your shipping address.
	
	#checkout_submit= f.submit 'Pay with PayPal'

