%tr[ line_item ]
	%td.sku= line_item.sku
	%td.name= line_item.name
	%td.options= line_item.options
	%td.price= line_item.price.format
	%td.quantity= line_item.quantity
	%td.total= ( line_item.price * line_item.quantity ).format