%tr.line_item
	%td= display_image( line_item.good.image, '100x100#' )
	%td.description
		= line_item.name
		%br
		= line_item.options
	%td.price= line_item.price.format
	%td.quantity= line_item.quantity
	%td= link_to 'Remove', '#'
	%td.total= ( line_item.price * line_item.quantity ).format